body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.tema-claro {
  background-color: #f5f5f5;
  color: #222;
}

.tema-claro button {
  background: #ddd;
  color: #222;
}

.tema-oscuro {
  background-color: #1c1c1c;
  color: #f5f5f5;
}

.tema-oscuro button {
  background: #444;
  color: #fff;
}
