.cardContador {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  gap: 1rem;
}

.value {
  font-size: 3rem;
  font-weight: bold;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.button {
  background-color: #444;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1.2rem;
  transition: 0.2s;
}

.button:hover {
  background-color: #666;
}
